@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#main{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position:  center;
    background-image: url('../../Images/login.png');
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#register_box_wrap{
    height: 31rem;
    width: 30rem;
    border-radius: 5px;
    background-color: #1D1F23;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: entry_animation .5s 1;
}

@keyframes entry_animation {
    0%   {opacity: 0;}
    50%  {opacity: .5;}
    100% {opacity: 1;}
  }

#register_box{
    height: 90%;
    width: 90%;
}

.register_comps{
    margin-bottom: .5rem;
}

.input_labels{
    font-size: .8rem;
    font-weight: 600;
    color: rgb(195, 190, 190);
}

.input_fields{
    height: 2.3rem;
    margin-bottom: 1rem;
}

.input_fields input{
    height: 100%;
    width: 100%;
    background-color: #36393F;
    border-radius: 5px;
    border: none;
    color: white;
    text-indent: 1rem;
    font-size: 1rem;
}

.input_fields input:focus{
    outline: none;
}

#comp_1{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

#signup_button{
    height: 2.5rem;
    width: 100%;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5865F2;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

#signup_button:hover{
    background-color: #7a84f6;
}

#comp_9_wrap{
    display: flex;
    font-size: .8rem;
    gap: .2rem;
}

#comp_9_2{
    color: #5865F2;
    cursor: pointer;
}

#comp_10_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: .8rem;
}

#comp_10_2{
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
    padding: .2rem;
    cursor: pointer;
}

#comp_10_2:hover{
    background-color: #7f8289;
}

#outer_modal{
    max-width: 400px;
    display: flex;
}

#modal{
    background-color: #35353F;
    color: white;
}

.modal_content{
    padding: 2rem;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: large;
}

.modal_message{
    text-align: center;
    margin-bottom: 1rem;
}

.otp_fiels{
    margin-bottom: 1rem;
    height: 2rem;
    
}

.verify_button{
    display: flex;
    justify-content: center;
}

#actual_button{
    border: none;
    background-color: #727ce8;
    color: white;
    width: 50%;
    height: 2rem;
    border-radius: 5px;
}

#actual_button:hover{
    background-color: #00AFFA;
}

#plane_div{
    display: flex;
    justify-content: center;
}


#plane_img{
    margin-top: -3rem;
    /* this part is done to bring image half out of the main div */
}

.components input{
    background-color: #191b20;
    border: none;
    height: 100%;
    color: white;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    text-indent: 1rem;
}


.components input:focus{
    outline: none;
}

#transition-modal-title{
    color: #00AFFA;
}

@media only screen and (max-width: 503px) {
    #register_box_wrap{
        height: 100vh;
        min-width: 100%;
    }    
  }
