#main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50px auto;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* .canvas_specs{
    height: 100vh;
    width: 100vw;
    overflow: scroll;
} */
/* 
.canvas_specs::-webkit-scrollbar{
    display: none;
} */

#canvas{
    display: block;
}

#tools{
    position: fixed;
    top: 6rem;
    left: 1rem;
}

#formatter{
    position: fixed;
    right: 0px;
    top: 5rem;
    margin-right: 1rem;
}

#nav_bar{
    position: fixed;
    top: 1rem;
    left: 45%;
    display: flex;
    
}

