#main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 3rem auto;
    color: #e2e5e8;
    background-color: #202327;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #2E3138;
    border-bottom: 1px solid #626465;
}

#nav_left{
    margin-left: 1rem;
    width: fit-content;
    height: 100%;
}

#logo_div{
    height: 90%;
}

#nav_right{
    margin-right: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
    text-decoration: none;
}

.right_nav_comps{
    cursor: pointer;
}

#new_project{
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    height: 100%;
    text-decoration: none;
    color: #e2e5e8;
}

#new_project:hover{
    background-color: #111111;
}

#body{
    margin-inline: 10rem;
    overflow-y: scroll;
}


#body::-webkit-scrollbar{
    display: none;
}

.des_heading{
    font-size: 1.5rem;
    border-bottom: 2px solid #626465;
    margin-top: 2rem;
}

.des_content{
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));    
}

.design_card{
    display: grid;
    grid-template-rows: 2.5fr 1fr;
    height: 15rem;
    width: 16rem;
    margin-top: 1rem;
    margin-right: 1rem;    
    margin-left: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background-color: #111111;
    cursor: pointer;
    text-decoration: none;
}

.design_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design_title{
    font-weight: 600;
    color: white
}

.design_details_wrap{
    margin-left: 1rem;
}

.design_timestamp{
    color: #bfc3c5;
}

#empty_project_wrap{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #9E9E9E;
}

#empty_project{
    display: grid;
    grid-template-rows: 10rem 4rem 4rem;
    padding: 1rem;
    width: 30rem;
    border-radius: 15px;
    background-color: #111111;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    
}

#empty_project_comp_1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#empty_project_comp_2{
    display: flex;
    justify-content: center;
    text-align: center;
}

#empty_project_pic{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#new_project_button_wrap{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#new_project_button{
    display: flex;
    align-items: center;
    text-decoration: none;
}