#main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 3rem auto;
    color: #e2e5e8;
    background-color: #2C2C2C;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #626465;
}

#nav_left{
    margin-left: 1rem;
    width: fit-content;
    height: 100%;
}

#logo_div{
    height: 90%;
}

#nav_right{
    margin-right: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.right_nav_comps{
    cursor: pointer;
}

#new_project{
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    height: 100%;
    text-decoration: none;
    color: #e2e5e8;
}

#new_project:hover{
    background-color: #111111;
}

#body{
    margin-inline: 10rem;
    overflow-y: scroll;
}

#body::-webkit-scrollbar{
    display: none;
}

.des_heading{
    font-size: 1.5rem;
    border-bottom: 2px solid #626465;
    margin-top: 2rem;
}

.des_content{
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
    
}

.design_card{
    display: grid;
    grid-template-rows: 2.5fr 1fr;
    height: 15rem;
    width: 16rem;
    margin-top: 1rem;
    margin-right: 1rem;    
    margin-left: 1rem;
    border-radius: 5px;
}

.design_card_comps{
    border: 2px solid white;
}

.design_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design_title{
    font-weight: 600;
}

.design_details_wrap{
    margin-left: 1rem;
}

.design_timestamp{
    color: #bfc3c5;
}
