#main{
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 2.5rem;
    color: white;
    background-color: #111111;
    border-radius: 20px;
}

.top_nav_comps{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#top_nav_middle{
    cursor: pointer;
}

#top_nav_middle_wrap input{
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: center;
}

#top_nav_middle_wrap input:focus{
    outline: none;
}