#main_wrap{
    display: flex;
    justify-content: center;
    height: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: #CACACA;
    height: fit-content;
    border-radius: 20px;
    background-color: #111111;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.main_comps{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    padding-block: .5rem;
    position: relative;
}

.main_comps_wrap{
    margin-left: .5rem;
}

.main_comps:hover{
    cursor: pointer;
}

#icon_1{
    margin-top: 1.5rem;
}

.forward_icon{
    position: relative;
    transition: left 1s ease;
}

.forward_icon:hover{
    left: 5px;
}

.dropdown_menu{
    position: absolute;
    left: 3rem;
    width: 10rem;
    margin-left: .5rem;
    padding: .5rem;
    border-radius: 5px;
    background-color: #111111;
}

.menu_comps{
    display: flex;
    width: 100%;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-decoration: none;
    color: white;
}

.menu_comps:hover{
    background-color:rgb(86, 86, 202) ;
    color: white;
}