#main{
    /* border: 2px solid white; */
    height: 100%;
}

#background_box{
    height: 5rem;
    padding: .5rem;
    width: 100%;
}

#heading{
    color: white;
    font-size: .8rem;
    font-weight: 600;
    /* padding: 1rem; */
    margin-bottom: .5rem;
    width: fit-content;
    margin-left: .5rem;
}

#specs{
    display: flex;
    align-items:center;
    padding-block: .2rem;
    width: fit-content;
}

#specs:hover{
    border: .5px solid #4c5356;
}

#color_box{
    border: none;
    padding: 0px;
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
    cursor: pointer;
}

#color_value{
    width: 5rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: .8rem;
    margin-left: .5rem;
}
