#main{
    height: 100%;
    /* margin: 1rem; */
    background-color: #111111;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 15px;
}

/* .option_comps:hover{
    color: white;
}

#options{
    display: flex;
    align-items: center;
    color: #BBBEC0;
    font-size: .8rem;
    border-bottom: 1px solid #BBBEC0;
    gap: 1rem;
    cursor: pointer;
}

#design{
    margin-left: 1rem;
} */